body{
	background-image: url('imgs/back.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
	height: 100%;
	width: 100%;
	font-family: Montserrat,serif,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	

}
*{
	padding: 0;
	margin: 0 ;
	background: none;
}
.background{
	min-height: 3000px;
	width: 100%;
	background: none;
}
.logo .logoimg{
	width: 135px;
	position: absolute;
	top: -25%;
	left: 44%;
}
.navbar-nav{
margin: 140px auto 3000px;
}
.nav-link{
	color: #fff;
}
.nav-item a{
	transition: 0.3s all;
	border-radius: 40px;
	margin-right: 20px;
	border:1px solid transparent;
	border-radius: 60px;
	padding: 10px 20px;
}
.nav-item a:hover{
	background-color:#32ff7e;
	color: #fff;
	border-radius: 40px;
}
.nav-item .active{
	background-color:#32ff7e;
	color: #fff;
	padding: 10px;
}
.background .label h2{
	background:#F1F8E9;
	margin: auto;
	padding-bottom: 8px; 
	max-width: 1100px;
	border: 1px solid #C5E1A5;
	margin: 20px auto 4px;
	border-radius: 4px;
	box-shadow: 0px 0px 2px 0px;
}

.background .label h2 span{
	background: none;
	margin-left: 5px;
	font-size: 0.7em;
}
.wrapper{
height: 330px;
background: #F1F8E9;
margin: 0 auto;
border: 1px solid #C5E1A5;
border-radius: 4px;
max-width: 1100px;
box-shadow: 0px 0px 2px 0px ;
position: relative;
}
.wrapper .big-box{
	width: 190px;
	
	max-height: 290px;
	margin:  20px 10px 10px;
	display: inline-block;
	background: none;
	
}
.wrapper .big-box .box{
	width: 190px;
	height: 290px;
	position: relative;
	transition: .35s ease;
	box-sizing: border-box;
	position: absolute;
	margin: auto;
	background: none;
	margin: 10px;
	

}
 .wrapper .big-box .box h2{
		display: block;
		text-align: center;
		font-weight: normal;
		color: #06c;
		background: none;
		font-size: large;
		line-height: .5;
	}
	.wrapper .big-box .box a{
		text-decoration: none;
  
	}
	.wrapper .big-box .box a:hover{
		text-decoration: none;
		border: 1px solid #fff;
  
	}
	.wrapper .big-box .box img{
	width: 100%;
	min-width: 110px;
	height: 270px;
	line-height: 110px;
	border-radius: 8px;
	margin-bottom: 10px;
	border: 1px solid #C5E1A5;
	}
	.background .film{
		background: #F1F8E9;
		margin: 50px auto 40px;
		max-width: 1100px;
		display: block;
		padding-top: 5px;
		padding-bottom: 20px;
		border-radius: 8px;
		box-shadow: 0 0 5px;
	}
	.background .film .film-img img{
		 display: block;
			position: relative;
			margin: auto;
			height: auto;
			width: 95%;
			height: 522px;

	}
	.background .film .film-p h4{
		font-size: 1.25rem;
		margin-bottom: 0.9em;
			border-radius: 8px;
		margin-top: 10px; 
		line-height: 1.6375rem;
		margin-left: 26px;
		font-weight: 400;
		color: #000;
		
	}
	.background .film .film-video video{
		 display: block;
			position: relative;
			margin: auto;
			height: auto;
			width: 95%;
			box-shadow: 0 0 5px;
	}
		.background .film p{
				font-size: 1.25rem;
		  margin-bottom: 0.9em;
		 	border-radius: 8px;
	  	margin-top: 10px; 
	  	line-height: 1.6375rem;
	  	margin-left: 26px;
	  	font-weight: 400;
				max-width: 1030px;
	  	color: #000;
		}
		.background .film .details {
			border: 1px solid #C1BABA;
			background: #F1F8E9;
			height: 250px;
			width: 95%;
			margin-left: 20px;
			margin-top: 30px;
			
			
		}
		.background .film p span{
			color: #06c;
		}
		.background .film h4{
		  margin-bottom: 0.9em;
		 	border-radius: 8px;
	  	margin-top: 40px; 
	  	line-height: 1.6375rem;
	  	margin-left: 26px;
	  	font-weight: 400;
	  	color: #000;
		}
		.background .film .details h4{
			 margin-bottom: 0.9em;
		 	border-radius: 8px;
	  	margin-top: 20px; 
	  	line-height: 1.6375rem;
	  	margin-left: 26px;
	  	font-weight: 400;
	  	color: #000;
		}