* {
    padding: 0;
    font-family: arial;
    margin: 0;
    font-size: 16px;
}
body{
    background:#993300!important;
}
.logo img {
    width: 135px;
    position: absolute;
    top: -25%;
    left: 44%;
}

.navbar-nav {
    margin-top: 140px;
    margin-left: 165px;
}

.nav-link {
    color: #000;
}

.nav-item a {
    transition: 0.3s all;
    border-radius: 40px;
    margin-right: 20px;
    border: 1px solid transparent;
    border-radius: 60px;
    padding: 10px 20px;
    color: #fff;
}

.nav-item a:hover {
    background-color: #c23616;
    color: #fff;
    border-radius: 40px;
}

.nav-item .active {
    background-color: #c23616;
    color: #fff;
    padding: 10px;
}
.dropdown-menu{
	Background: #993d00!important;
}
.dropdown .dropdown-menu .active{	
	background: #c23616;
}
#head {
    margin-left: 175px;
    border: 2px solid white;
    width: 75%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: -50px;
    background-color: #c23616;
	border-radius: 10px;
}

#head #text {
    text-align: center;
    padding: auto;
    padding-top: 5px;
}

.center {
	text-align:center;
	width:auto;
}

.box:hover{
    background-color: chocolate;
    box-shadow: 5px 8px 10px biege;
    filter: blur(0.1);
    transform: scale(1.1);
        transition:  (1s);

    
}
.box {
    text-align: center;
    display: inline-block;
    width: 250px;
    transition: 1s ease;
    background-color:#b34700;
    box-shadow: 3px 0 3px #e7e7e7;
    margin: 5px;
    border-radius: 10px;
}

.box img {
    padding: 7px 0;
    width: 80%;
    border-radius: 8px;
    filter: blur(1);
}
.box img:hover{
     transform: scale(1.1);
     transition:  1s ease;
    
    border-radius: 0px 5px 0px 5px ;
}
.box details{
    color: #fff;
}
h6{
    color: #fff;
    font-size: 30px;
    padding-top: 2px;
}

/* -------------------------------------------------- */



/*---------------------*/


/*footer*/
#social-media
{
    background: #993300;
    padding:20px 0 10px;margin-top: 50px;
}
#social-media p{
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;    
}
.social-icons img{
    width: 60px;
    transition: 0.5s;
}
.social-icons a:hover img{
    transform: translateY(-10px);
}
.btns2
{
    margin: 30px auto 10px;
}
.btns2 a
{
    text-decoration: none;
    color: #000;
    border: 3px solid #c23616;
    border-radius: 60px;
    padding: 10px 40px;
    transition: 0.3s;
}
.btns2 a:hover
{
    text-decoration: none;
    color: #fff;
    background: #c23616;
}
/*-----------------*/
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, input {
    font-size: 1em;
    line-height: 1.5;
}
input {
    display: block;
    margin-bottom: 1.5em;
}
#l1 {
    padding: 1.5em 0 0 0;
    text-align: center;
    position: fixed;
    left: 3%;
    bottom: 3%;
}
#l2 {
    padding: 1.5em 0 0 0;
    text-align: center;
    position: fixed;
    left: 3%;
    bottom: 13%;
}
.l {
    background-color: rgba(0,0,0,0.7);
    border-radius: 1.75em;
    box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
    color: #fdea7b;
    display: inline-flex;
    align-items: center;
    margin: auto;
    padding: 0.15em;
    width: 5em;
    height: 2.5em;
    transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.l:before, .l:after {
    content: "";
    display: block;
}
.l:before {
    background-color: #d7d7d7;
    border-radius: 50%;
    width: 2.2em;
    height: 2.2em;
    transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    z-index: 1;
}
.l:after {
    background:
        linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
        repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
        radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
    background-repeat: no-repeat;
    border: 0.25em solid transparent;
    border-left: 0.4em solid #d8d8d8;
    border-right: 0 solid transparent;
    transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    transform: translateX(-22.5%);
    transform-origin: 25% 50%;
    width: 1.8em;
    height: 1.5em;
}
}
/* Checked */
.l:checked {
    background-color: rgba(0,0,0,0.45);
    box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
}
.l:checked:before {
    background-color: currentColor;
    transform: translateX(125%);
}
.l:checked:after {
    border-left-color: currentColor;
    transform: translateX(-2.5%) rotateY(180deg);
}
/* Other States */
.l:focus {
    /* Usually an anti-A11Y practice but set to remove an annoyance just for this demo */
    outline: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, input {
    font-size: 1em;
    line-height: 1.5;
}
input {
    display: block;
    margin-bottom: 1.5em;
}
.l2 {
    background-color: rgba(0,0,0,0.7);
    border-radius: 1.75em;
    box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.3) inset;
    color: #32ff7e;
    display: inline-flex;
    align-items: center;
    margin: auto;
    padding: 0.15em;
    width: 5em;
    height: 2.5em;
    transition: background-color 0.1s 0.3s ease-out, box-shadow 0.1s 0.3s ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.l2:before, .l:after {
    content: "";
    display: block;
}
.l2:before {
    background-color: #D37878;
    border-radius: 50%;
    width: 2.2em;
    height: 2.2em;
    transition: background-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    z-index: 1;
}
.l2:after {
    background:
        linear-gradient(transparent 50%, rgba(0,0,0,0.15) 0) 0 50% / 50% 100%,
        repeating-linear-gradient(90deg,#bbb 0,#bbb,#bbb 20%,#999 20%,#999 40%) 0 50% / 50% 100%,
        radial-gradient(circle at 50% 50%,#888 25%, transparent 26%);
    background-repeat: no-repeat;
    border: 0.25em solid transparent;
    border-left: 0.4em solid #d8d8d8;
    border-right: 0 solid transparent;
    transition: border-left-color 0.1s 0.3s ease-out, transform 0.3s ease-out;
    transform: translateX(-22.5%);
    transform-origin: 25% 50%;
    width: 1.8em;
    height: 1.5em;
}
}
/* Checked */
.l2:checked {
    background-color: rgba(0,0,0,0.45);
    box-shadow: 0.125em 0.125em 0 0.125em rgba(0,0,0,0.1) inset;
}
.l2:checked:before {
    background-color: currentColor;
    transform: translateX(125%);
}
.l2:checked:after {
    border-left-color: currentColor;
    transform: translateX(-2.5%) rotateY(180deg);
}
/* Other States */
.l2:focus {
    /* Usually an anti-A11Y practice but set to remove an annoyance just for this demo */
    outline: 0;
}
    #back-to-top-btn{
            display: none;
            background: #e84118;
            width: 50px;
            height: 50px;
            position: fixed;
            bottom: 3%;
            right: 3%;
            border: none;
            border-radius: 50%;
            outline: none;
            color: #fff;
        }
            #back-to-top-btn:active{
                background: #c23616;
            }
            .btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}
/* zoomIn */
/* @keyframes btnEntrance { 
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }    
} */

/* fadeInUp */
@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;  
  animation-name: btnExit;
}
/* zoomOut */
/* @keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
} */

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}